<div class="container">
  <h2>Login form</h2>
  <form class="form-horizontal" name="loginForm" novalidate>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">UserName:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" ng-model="data.username" required autocomplete="off">
        <span ng-if="loginForm.username.$error.required && invalidForm">Please enter username.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="data.password" required autocomplete="off">
        <span ng-if="loginForm.pwd.$error.required && invalidForm">Please enter password.</span>
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="doLogin(loginForm)" class="btn btn-default">Login</button>
      </div>
    </div>
  </form>
</div>