 <button class="btn btn-primary" ng-click="AddProduct()"> Add Product </button> 
<table class="table">
  <thead>
    <tr>
      <th>Sr. No.</th>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th>Logo</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in products">
      <th>{{$index+1}}</th>
      <td>{{row.product_id}}</td>
      <td>{{row.product_name}}</td>
      <td><img src="{{row.logo}}"></td>
      <td>
        <button class="btn btn-primary" ng-click="editProduct(row)">Edit</button>   
        <button class="btn btn-primary" ng-click="addtoCart(row.product_id)">Add To Cart</button> 
      </td>
    </tr>
    
  </tbody>
</table>

<!-- Add Product Modal -->
<div id="" class="modal fade add-product s-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Product</h4>
      </div>
      
      <form name="form.addproductForm" novalidate>
      <div class="modal-body">

        
        <div class="row">
         <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Product Name</label>
              <input type="text" name="product_name" class="form-control" placeholder="Enter Product Name" ng-model="data.product_name" maxlength="30" required>
              <span ng-if="form.addproductForm.product_name.$error.required && invalidForm">Please enter product name.</span>
            </div>
          </div>
         
          <div class="col-sm-6">
              <div class="form-group">
                <label>Upload Logo</label>
                <input type="file" name="product_logo"  ng-model="chooseFile" file-model="data.logo" accept="image/*" />
            </div>
          </div>
        </div>
        
    </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="addProductDetail(form.addproductForm)">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
  </form>
  </div>
</div>
</div>

<!-- Edit product Modal -->
<div class="modal fade edit-product s-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Product</h4>
      </div>
       
        <form name="form.editproductForm" novalidate>
      <div class="modal-body">

      
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Product Name</label>
              <input type="text" name="product_name" class="form-control" placeholder="Enter Product Name" ng-model="editData.product_name" maxlength="30" required>
              <span ng-if="form.editproductForm.product_name.$error.required && invalidForm">Please enter product name.</span>
            </div>
          </div>
       
          <div class="col-sm-6">
              <div class="form-group">
                <label>Upload Logo</label>
                <div class="file-upload">
                  
                    <input type="file" name="logo" ng-model="chooseFile" autocomplete="off" file-model="editData.logo" accept="image/*" />
                    <img src="{{editData.logo}}" class="img-responsive" style="width: 80px;height: 80px;">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="editProductDetail(form.editproductForm)">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    </form>
  </div>
</div>